.work {
  margin-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.work .work-img {
  width: 50%;
  height: 30vh;
  background: red;
}
.work .work-text {
  width: 40%;
}
.work .work-text p {
  width: 100%;
  background: green;
}