.business{
    p{
        text-align: center;
        padding-bottom: 2rem;
        span{
            font-weight: bolder;
        }
    }
    .container{
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .swiper{
            width: 1000%;
            height: 100%;
            .swiper-wrapper{
                .swiper-slide img{
                    width: 100%;
                }
            }
        }
    }
}